# === Maven ===
/target/
*.log

# === NetBeans ===
nbproject/private/
build/
nbbuild/
dist/
.nb-gradle/
*.bak

# Arquivos temporários do NetBeans e do sistema
*.swp
*.tmp
*.orig
*.lock

# === Sistema Operacional ===
.DS_Store         # macOS
Thumbs.db         # Windows
ehthumbs.db       # Windows

# === IDE ===
*.iml              # IntelliJ
.idea/
.vscode/

# === Arquivos de configuração sensíveis ===
*.env
*.key
*.pem
config.properties
